= form_for(@wallet) do |f| 
  -if @wallet.errors.any?
    #error_explanation

      h2
        ="#{pluralize(@wallet.errors.count, "error")}  prohibited this wallet from being saved:"
      ul
        =@wallet.errors.full_messages.each do |message|
          li  = message


  .field
    = f.label :name
    br
    = f.text_field :name 


  .field
    = f.label :type
    br
    = f.collection_select(:typew_id, Typew.all, :id, :name)
      /(какой параметр, коллекция значений, передаваемое значение, текстовый метод)


  - if params[:category_id].present?
    = f.hidden_field :category_id, value: params[:category_id]
  - else
    = f.label "Категория"
    br
    = f.collection_select(:category_id, Category.all, :id, :name)
    br



  .field
    = f.label :currency
    br
    = f.select :currency, Wallet::CURRENCY_TYPE


  .field
    = f.label :money
    br
    = f.text_field :money

  .actions
    = f.submit 
